@media screen and (min-width: 600px)
{
    

    .navigation {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: space-around;
        padding: 0;
        
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
        
    }
    .navigation.open {
        display: flex;
    }



    
	
    .main_index 
    {
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-template-rows: auto 1fr;
        background-color: #f5ebe0;

        
    }
	
	#my-button {
		display: none;
        
	}

    footer  
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;
        text-align: center;
        margin: 5px;
        background-color: beige;
        background-color: black;
        color: white;
        width: auto;
        height: 110px;
        width: auto;
        height: 140px;
    }


    table 
    {
        width: 250px;
    }

    .img_con 
{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.map img
{
    width: 800px;
    height: 650px;
    border-radius: 3px;
    box-shadow: 10px 8px rgb(43, 41, 41);

}

   

    




    
    


    

}   