@media only screen and (min-width: 540px)
{
    .navigation {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: space-around;
        padding: 0;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }
    .navigation.open {
        display: flex;
    }
	
	
	#my-button {
		display: none;
	}

}   